html, body {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-size: 20px;
}

.lista-home {
    margin: 0;
}

.home-progress {
    height: 23px;
    margin-bottom: 23px;
}

.label-home-space {
    margin-right: 2px;
}

.indice-zero {
    z-index: 0 !important;
}

.add-group-fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 23px 12px 23px 23px;
    white-space: nowrap;
}

.add-group-fab-container-2 {
    position: fixed;
    bottom: 80px;
    right: 0;
    padding: 23px 12px 23px 23px;
    white-space: nowrap;
}

.btn-save-assunto {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.btn-add-grp {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.busca-assunto {
    color: #ffffff;
}

.assunto-label{
    cursor: pointer;
}

.assunto-label:hover {
    color: #000000;
}

.materia-header {
    cursor: pointer;
}

.materia-header:hover {
    color: #000000;
}

.list-assuntos {
    visibility: hidden;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: visibility .2s, opacity .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility .2s, opacity .35s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-assuntos-show {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}

.materia-item {

}

.assunto-list {
    border: 1px solid #000000;
    border-radius: 3px;
}

.btn-view-assunto {
    padding-right: 16px;
}

.assunto-item {

}

.coluna-assunto-barra {
    border-left: 1px solid #dddddd;
}

.coluna-assunto-barra-ultima {
    border-left: 1px solid #dddddd;
    height: 46px;
}

.obs-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.label-as-badge{
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.pe-menu {
    left: -80px;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 67px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

.handle {
    cursor: move;
    position: absolute;
    top: 14px;
}

.materia-lbl {
    margin-left: 20px;
}

.pe-navbar {
    height: 64px;
}

.cal-day-box .day-event {
    width: 300px;
}

.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i {
    display: inline-block;
    height: 23px;
    vertical-align: text-top;
    width: 23px;
}

.text-white {
    color: #ffffff;
    font-weight: 500;
}

.container-calendar {
    height: auto;
}

.fc-event {
    cursor: pointer;
}

.page-content {
    padding: 10% 20% 20%;
    text-align: center;
}

.space-top {
    padding-top: 5px;
}

.lista-ordem {
    width: 40px;
}

.home-cards {
    height: 220px;
}

@media (min-width: 768px) {
    .home-cards {
        height: 256px;
  }
}
.lista-ciclo {
    width: 30px;
    height: 12px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;

}
.lista-btn-pomodoro {
    margin-bottom: 25px;
}
@media (max-width: 768px) {
    .pomodoro-xs-margim {
        margin-top: 10px;
    }
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.noPadding {
    padding: 0!important;
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3a94a5;
    background-image: -webkit-linear-gradient(top,#149bdf 0,#0480be 100%);
    background-image: -o-linear-gradient(top,#149bdf 0,#0480be 100%);
    background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    opacity: .8;
    border: 0 solid transparent;
}

.slider-track{
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top,#ECECEC 0,#FFFFFF 25%);
    background-image: -o-linear-gradient(top,#ECECEC 0,#FFFFFF 25%);
    background-image: linear-gradient(to bottom,#ECECEC 0,#FFFFFF 25%);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border-radius: 4px;
}

.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top,#B9E2F7 0,#B9E2F7 100%);
    background-image: -o-linear-gradient(top,#B9E2F7 0,#B9E2F7 100%);
    background-image: linear-gradient(to bottom,#B9E2F7 0,#B9E2F7 100%);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}