<div ng-controller="Calendario2Controller" ng-init="initCalendar()">
    <div class="pe-navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pe-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pe-brand" id="calendar2title" ui-sref="calendario2">
                        {{calendar2Title}}
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="pe-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ui-sref="home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
                        </li>
                        <li>
                            <a ui-sref="calendario"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Calendario</a>
                        </li>
                        <li>
                            <a ui-sref="calendario2"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Calendario 2</a>
                        </li>
                        <li>
                            <a ui-sref="chartevo"><span class="glyphicon glyphicon-signal"></span>&nbsp;Gráfico Evolução</a>
                        </li>
                        <li>
                            <a ui-sref="chartdes"><span class="glyphicon glyphicon-signal"></span>&nbsp;Gráfico Desempenho</a>
                        </li>
                        <li>
                            <a ui-sref="assuntos"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;Editar Assuntos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-calendar">
    <div ui-calendar="uiConfig.calendar" class="calendar" id="my-calendar"></div>
    </div>
</div>