<div ng-controller="CalendarioController" ng-init="initCalendar()">
    <div class="pe-navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pe-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pe-brand" ui-sref="calendario">
                        Calendário
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="pe-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ui-sref="home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
                        </li>
                        <li>
                            <a ui-sref="calendario"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Calendario</a>
                        </li>
                        <li>
                            <a ui-sref="chartevo"><span class="glyphicon glyphicon-signal"></span>&nbsp;Gráfico Evolução</a>
                        </li>
                        <li>
                            <a ui-sref="chartdes"><span class="glyphicon glyphicon-signal"></span>&nbsp;Gráfico Desempenho</a>
                        </li>
                        <li>
                            <a ui-sref="assuntos"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;Editar Assuntos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <div class="col-md-8">

    <h5 class="text-center">{{calendarTitle}}</h5>

    <div class="row">

        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarDate"
                        decrement="calendarView">
                    Anterior
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="calendarDate"
                        set-to-today>
                    Hoje
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendarDate"
                        increment="calendarView">
                    Próximo
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'">Ano</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Mês</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Semana</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Dia</label>
            </div>
        </div>

    </div>

    <br>

    <mwl-calendar
            view="calendarView"
            view-date="calendarDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
    </mwl-calendar>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Horas de estudo</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" style="background-color: {{assunto.cor}};" ng-repeat="assunto in assuntos">
                        <div class="row">
                            <div class="col-xs-8">{{assunto.assunto}}</div>
                            <div class="col-xs-4 text-right">{{assunto.horasTotal}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="evt-detail.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Detalhes</h4>
        </div>
        <div class="modal-body" ng-init="initDetail()">
            <p class="h5">{{event.topico}}&nbsp;{{event.startsAt | date : "dd/MM"}}&nbsp;
                <span class="label label-as-badge label-primary" ng-show="event.statusMateria === 'completo'">
                    completo
                </span>
                <span class="label label-as-badge label-success"
                      ng-show="event.statusMateria === 'revisar'">
                    revisar
                </span>
                <span class="label label-as-badge label-danger"
                      ng-show="event.statusMateria === 'incompleto'">
                    incompleto
                </span>
                <span class="label label-as-badge label-warning" ng-show="!event.statusMateria">
                    em aberto
                </span>
            </p>
            <p>{{event.texto}}</p>

            <p>Total Questões: {{event.total}}</p>

            <p>Acertos: {{event.acerto}}</p>

            <p>Aproveitamento: {{event.aproveitamento}}%</p>

            <p>Horas de estudo: {{event.horas}}</p>

            <p>Observação: {{event.obs}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="fechar()" data-dismiss="modal">Fechar</button>
        </div>
    </script>

</div>