<div ng-controller="DetalhesController" ng-init="initDet()">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Detalhes</li>
    </ol>
    <div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <div class="list-group">
                    <div class="list-group-item active">
                        <span class="list-group-item-heading h4">{{assunto.texto}} - <i>{{assunto.concurso}}</i></span>
                        <br/>
                        <span>Total de Questões: {{assunto.geral.total}}
                             Acertos: {{assunto.geral.acertos}}
                             Aproveitamento: {{assunto.geral.aproveitamento}}%
                            <span class="label label-as-badge label-primary" ng-show="assunto.status === 'completo'">
                                {{assunto.arrayStatus[3]}}% completo
                            </span>
                            <span class="label label-as-badge label-success" ng-show="assunto.status === 'revisar'">
                                {{assunto.arrayStatus[2]}}% revisar
                            </span>
                            <span class="label label-as-badge label-danger" ng-show="assunto.status === 'incompleto'">
                                {{assunto.arrayStatus[1]}}% incompleto
                            </span>
                            <span class="label label-as-badge label-warning" ng-show="!assunto.status">
                                {{assunto.arrayStatus[0]}}% em aberto
                            </span>
                        </span>
                    </div>
                    <div class="list-group-item" ng-repeat="data in assunto.datas">
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="editar($index, data)" tooltip="Editar">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger" tooltip="Excluir" ng-click="excluir($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <p>
                            {{data.data | date:'dd/MM/yyyy'}}
                            - Tempo: {{data.tempo | date: 'HH:mm'}}
                            Questões: {{data.total}}
                            Acertos: {{data.acerto}}
                            Aproveitamento: {{data.aproveitamento}}%
                            <span class="label label-as-badge label-primary" ng-show="data.status === 'completo'">completo</span>
                            <span class="label label-as-badge label-success" ng-show="data.status === 'revisar'">revisar</span>
                            <span class="label label-as-badge label-danger" ng-show="data.status === 'incompleto'">incompleto</span>
                            <span class="label label-as-badge label-warning" ng-show="!data.status">em aberto</span>
                        </p>
                        <label>Observação:</label>

                        <p class="obs-content">{{data.observacao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="confirmarExclusao.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Confirmar Exclusão</h4>
        </div>
        <div class="modal-body text-center">
            <p class="h3">
                Realmente deseja exluir a data?
            </p>
            <p>
                <input id="relevante" type="checkbox" ng-model="relevante">
                <label for="relevante" class="assunto-label">Data é relevante no calculo de aproveitamento?</label>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarExclusao()" data-dismiss="modal">Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarExclusao()">Confirmar Exclusão</button>
        </div>
    </script>

    <script type="text/ng-template" id="editarData.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Confirmar Estudos</h4>
        </div>
        <div class="modal-body" ng-init="initEditar()">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="data" class="col-lg-2 control-label">Data do Estudo</label>
                    <div class="col-lg-10">
                        <input id="data" class="form-control" type="date" ng-model="estudo.data" placeholder="Data do Estudo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="tempo" class="col-lg-2 control-label">Tempo de Estudo</label>
                    <div class="col-lg-10">
                        <input id="tempo" class="form-control" type="time" ng-model="estudo.tempo" placeholder="Tempo de Estudo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="total" class="col-lg-2 control-label">Total de Questões</label>
                    <div class="col-lg-10">
                        <input id="total" class="form-control" type="number" min="1" ng-model="estudo.total" placeholder="Total">
                    </div>
                </div>

                <div class="form-group">
                    <label for="acertos" class="col-lg-2 control-label">Acertos</label>
                    <div class="col-lg-10">
                        <input id="acertos" class="form-control" type="number" min="0" ng-model="estudo.acerto" placeholder="Acertos">
                    </div>
                </div>

                <div class="form-group">
                    <label for="acertos" class="col-lg-2 control-label">Aproveitamento</label>
                    <div class="col-lg-10 text-center">
                        <span class="h3">{{Math.floor((estudo.acerto / estudo.total) * 100)}}%</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Status</label>
                    <div class="btn-group col-lg-10">
                        <label class="btn btn-danger" ng-model="estudo.status" btn-radio="'incompleto'" uncheckable>incompleto</label>
                        <label class="btn btn-success" ng-model="estudo.status" btn-radio="'revisar'" uncheckable>revisar</label>
                        <label class="btn btn-primary" ng-model="estudo.status" btn-radio="'completo'" uncheckable>completo</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="total" class="col-lg-2 control-label">Observações</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" ng-model="estudo.observacao" placeholder="Observação"></textarea>
                    </div>
                </div>

            </form>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarEditar()" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" ng-click="confirmarEstudo()">Confirmar Estudo</button>
        </div>
    </script>

</div>