<div ng-controller="DetalhesController" ng-init="initDet()">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Detalhes</li>
    </ol>
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="list-group">
                    <div class="list-group-item active">
                        <span class="list-group-item-heading h4">{{assunto.texto}} - <i>{{assunto.concurso}}</i></span>
                        <br />
                        <span>Total de Questões: {{assunto.geral.total}}
                             Acertos: {{assunto.geral.acertos}}
                             Aproveitamento: {{assunto.geral.aproveitamento}}%
                        </span>
                    </div>
                    <div class="list-group-item" ng-repeat="data in assunto.datas">
                        <div class="pull-right">
                            <button class="btn btn-primary" tooltip="Editar">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger" tooltip="Excluir" ng-click="excluir($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <p>
                            {{data.data | date:'dd/MM/yyyy'}}
                            - Questões: {{data.total}}
                            Acertos: {{data.acerto}}
                            Aproveitamento: {{data.aproveitamento}}
                        </p>
                        <label>Observação:</label>
                        <p class="obs-content">{{data.observacao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="confirmarExclusao.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Confirmar Exclusão</h4>
        </div>
        <div class="modal-body">
            <span class="h2">
                Realmente deseja exluir a data?
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarExclusao()" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" ng-click="confirmarExclusao()">Confirmar Exclusão</button>
        </div>
    </script>

</div>