<div ng-controller="AssuntosController" ng-init="assuntosInit();">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <div class="list-group">
                    <div class="list-group-item active" style="z-index: 0">
                        <input type="text" ng-model="searchtext" class="form-control busca-assunto"
                               placeholder="Buscar pelo assunto" aria-describedby="basic-addon1">
                    </div>
                    <div class="list-group-item" ng-repeat="materia in materiasUnificadas | orderBy: 'listaordem' | filter:searchFunc track by $index ">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="number" step="1" min="1" max="999" ng-model="materia.listaordemTmp" class="lista-ordem">.&nbsp;
                                <b ng-class="{'text-muted' : !materia.ativo}">{{materia.assunto}}</b>
                            </div>
                            <div class="col-lg-6 text-right">
                                <span ng-show="materia.materias.length" class="label label-warning">
                                {{materia.materias.length}} matérias
                            </span>
                                &nbsp;
                                <span ng-show="materia.ativo" class="label label-success">
                                ATIVA
                            </span>
                                <span ng-show="!materia.ativo" class="label label-danger">
                                INATIVA
                            </span>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary" ng-click="editar(materia)" tooltip="Editar">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <button class="btn btn-success" ng-show="!materia.ativo" ng-click="ativar(materia)" tooltip="Exibir">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button class="btn btn-info" ng-show="materia.ativo" ng-click="desativar(materia)" tooltip="Ocultar">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>

                                <button class="btn btn-danger" ng-click="excluir(materia)" tooltip="Excluir">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-group-fab-container-2">
        <button class="btn btn-success btn-save-assunto" tooltip="Salvar alterações" ng-click="salvar()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
    <div class="add-group-fab-container">
        <button class="btn btn-danger btn-add-grp" ng-click="criarAssunto()" tooltip="Criar novo assunto">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <script type="text/ng-template" id="exclusao.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Confirmar Exclusão</h4>
        </div>
        <div class="modal-body text-center">
            <p class="h3">
                Realmente deseja exluir o assunto?
            </p>

            <p class="h3">
                Excluir o assunto vai excluir todas as materias e o que foi feito nela.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarExclusao()" data-dismiss="modal">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarExclusao()">
                Confirmar Exclusão
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="criar-assunto.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Criar Novo Assunto</h4>
        </div>
        <div class="modal-body" ng-init="initCriar()">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="ctexto" class="col-lg-2 control-label">Assunto</label>

                    <div class="col-lg-10">
                        <input id="ctexto" class="form-control" type="text" ng-model="assunto.assunto"
                               placeholder="Texto da matéria">
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarCriacao()" data-dismiss="modal">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarCriacao()">
                Salvar
            </button>
        </div>
    </script>
</div>