<div ng-controller="AssuntosController" ng-init="assuntosInit();">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Controlar Assuntos</li>
    </ol>
    <div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <div class="list-group">
                    <div class="list-group-item active" style="z-index: 0">
                        <input type="text" ng-model="searchtext" class="form-control busca-assunto"
                               placeholder="Buscar pelo assunto" aria-describedby="basic-addon1">
                    </div>
                    <div class="list-group-item" ng-repeat="materia in materiasUnificadas | filter:searchFunc">
                        <span class="list-group-item-heading" ng-click="setselectedrow($index)">
                            <b>{{materia.assunto}}</b>
                            <span ng-show="materia.materias.length" class="label label-warning">
                                {{materia.materias.length}} matérias
                            </span>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary" ng-click="editar(materia)" tooltip="Editar">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            &nbsp;
                            <button class="btn btn-danger" ng-click="excluir(materia)" tooltip="Excluir">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-group-fab-container">
        <button class="btn btn-danger btn-add-grp" ng-click="criarAssunto()" tooltip="Criar novo assunto">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>