<div ng-controller="ChartController" ng-init="initChart();">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home">
            <div class="col-md-12">
                <canvas id="bar1" class="chart chart-horizontal-bar"
                        chart-data="bardata1" chart-labels="barlabels1"
                        chart-series="series1" chart-colors="colours"
                        chart-options="chartoptions">
                </canvas>
            </div>
        </div>
    </div>

</div>