<div ng-controller="ChartController" ng-init="initChart();">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Gráficos</li>
    </ol>
    <div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <canvas id="bar2" class="chart chart-bar"
                        chart-data="bardata" chart-labels="barlabels"
                        chart-series="series">
                </canvas>
            </div>
        </div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <canvas id="bar1" class="chart chart-stacked-bar"
                        chart-data="bardata1" chart-labels="barlabels1"
                        chart-series="series1" chart-colours="colours">
                </canvas>
            </div>
        </div>
    </div>

</div>