<div ng-controller="ChartDesController" ng-init="initChart();">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="assunto">Selecione um Assunto</label>
                    <select id="assunto" class="form-control" ng-model="assuntoSelecionado"
                            ng-options="assunto.assunto for assunto in assuntos"
                            ng-change="criarGraficoDesempenho()">

                    </select>
                </div>
            </div>
        </div>
        <div class="row lista-home">
            <div class="col-md-12">
                <canvas id="bar" class="chart chart-horizontal-bar"
                        chart-data="bardata" chart-labels="barlabels" chart-colors="colours"
                        chart-series="series" chart-options="chartoptions">
                </canvas>
            </div>
        </div>

    </div>

</div>