<div ng-controller="ChartDesController" ng-init="initChart();">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="assunto">Selecione um Assunto</label>
                        <select id="assunto" class="form-control" ng-model="assuntoSelecionado"
                                ng-options="assunto.assunto for assunto in assuntos"
                                ng-change="criarGraficoDesempenho()">
                            <option value="">Todos</option>
                        </select>
                        <div class="checkbox" ng-class="assuntoSelecionado._id == null ? 'disabled' : ''">
                            <label>
                                <input ng-model="detalhado" type="checkbox"
                                       ng-disabled="assuntoSelecionado._id == null ? true : false"
                                       ng-change="criarGraficoDesempenho()">
                                Detalhado?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row lista-home">
            <div class="col-md-12">
                <canvas id="bar" class="chart chart-horizontal-bar"
                        chart-data="bardata" chart-labels="barlabels" chart-colors="colours"
                        chart-series="series" chart-options="chartoptions">
                </canvas>
            </div>
        </div>

    </div>

</div>