<div ng-controller="CicloEstudoController" ng-init="initChart();" xmlns="http://www.w3.org/1999/html">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home space-top">
            <div class="col-md-4">
                <button ng-click="adicionarMateria();" class="btn btn-danger">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar
                    +1 máteria
                </button>
                <button class="btn btn-success" ng-click="atualizarCiclo();">
                    <i class="glyphicon glyphicon-refresh"></i>&nbsp;Atualizar Ciclo
                </button>
                <ul class="list-group" dnd-list="assuntos">
                    <li class="list-group-item" ng-repeat="assunto in assuntos"
                        dnd-draggable="assunto"
                        dnd-moved="assuntos.splice($index, 1)"
                        dnd-effect-allowed="move">
                        <dnd-nodrag>
                            <div dnd-handle class="handle">:::</div>
                            <label class="materia-lbl">
                                <div class="lista-ciclo" style="background-color: {{assunto.cor}};"></div>
                                {{assunto.assunto}} - <strong>{{assunto.horas}}</strong>
                                &nbsp;
                            </label>
                            <button class="btn btn-primary" ng-click="editarTempo(assunto)" tooltip="Editar Tempo">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger" ng-click="removerTempo(assunto)" tooltip="Remover Materia">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </dnd-nodrag>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row lista-home">
                    <div class="panel">
                        <div class="panel-body">
                        <canvas id="bar1" class="chart chart-doughnut"
                                chart-data="data" chart-labels="labels" chart-options="chartoptions"
                                chart-colors="colors">
                        </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="editar.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Editar Matéria no Clico</h4>
        </div>
        <div class="modal-body" ng-init="initEditar()">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Matéria</label>

                    <div class="col-lg-10">
                        {{assuntoEdicao.assunto}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="etempo" class="col-lg-2 control-label">Horas</label>

                    <div class="col-lg-10">
                        <select id="etempo" class="form-control" ng-model="assuntoEdicao.horas"
                                ng-options="tempo for tempo in tempos"
                                ng-focus="tempoError = ''">
                        </select>
                        <span ng-show="tempoError !== ''" class="text-danger">{{tempoError}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarEdicao()"
                    data-dismiss="modal" ng-class="classBtn">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarEdicao()" ng-class="classBtn">
                Confirmar
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="exclusao.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Confirmar Exclusão</h4>
        </div>
        <div class="modal-body text-center">
            <p class="h3">
                Realmente deseja remover a matéria do clico de estudos?
            </p>

            <p class="h3">
                Remover a matéria irá automaticamente alterar o gráfico.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarRemover()" data-dismiss="modal">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarRemover()">
                Confirmar
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="adicionar.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Adicionar Matéria ao Clico</h4>
        </div>
        <div class="modal-body" ng-init="initCriar()">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="ctexto" class="col-lg-2 control-label">Matéria</label>

                    <div class="col-lg-10">
                        <select id="ctexto" class="form-control"
                                ng-model="assuntoAdicao"
                                ng-options="assunto.assunto for assunto in assuntosSelecionaveis"
                                ng-focus="assuntoError = ''">
                            <option value="">Selecione uma matéria</option>
                        </select>
                        <span ng-show="assuntoError !== ''" class="text-danger">{{assuntoError}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tempo" class="col-lg-2 control-label">Horas</label>

                    <div class="col-lg-10">
                        <select id="tempo" class="form-control" ng-model="assuntoAdicao.horas"
                                ng-options="tempo for tempo in tempos"
                                ng-focus="tempoError = ''">
                            <option value="">Selecione o tempo de estudo</option>
                        </select>
                        <span ng-show="tempoError !== ''" class="text-danger">{{tempoError}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarAdicao()" data-dismiss="modal"
                    ng-class="classBtn">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarAdicao()" ng-class="classBtn">
                Adicionar
            </button>
        </div>
    </script>

</div>