<div class="modal-header text-center">
    <h4 class="modal-title">Detalhes Planejamento</h4>
</div>
<div class="modal-body">
    <p>calculoSemana: {{planejamento.calculoSemana}}</p>
    <p>minutosPorPeso: {{planejamento.minutosPorPeso}}</p>
    <p>minutosSemanais: {{planejamento.minutosSemanais}}</p>
    <p>totalMultiplicador: {{planejamento.totalMultiplicador}}</p>
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-lg-3">Matéria</div>
                <div class="col-lg-2">Peso</div>
                <div class="col-lg-2">Conhecimento</div>
                <div class="col-lg-2">Multiplicador</div>
                <div class="col-lg-3">Total/Ciclo</div>
            </div>
        </div>
        <div class="list-group-item" ng-repeat="materia in planejamento.materias">
            <div class="row">
                <div class="col-lg-4">{{materia.assunto}}</div>
                <div class="col-lg-2">{{materia.peso}}</div>
                <div class="col-lg-2">{{materia.conhecimentoMultiplicador}}</div>
                <div class="col-lg-2">{{materia.multiplicador}}</div>
                <div class="col-lg-2">{{materia.totalPorCiclo}}</div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-12">
        <hr>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="fechar()" data-dismiss="modal">
        Fechar
    </button>
</div>