<div ng-controller="PlanejamentoMateriasController" ng-init="initPlanejamentoMaterias();">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <div class="list-group">
                    <div class="list-group-item active" style="z-index: 0">
                        <input type="text" ng-model="searchtext" class="form-control busca-assunto"
                               placeholder="Buscar pelo nome" aria-describedby="basic-addon1">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>