<div ng-init="initPomodoro();">
    <div class="pe-navbar">
        <nav header></nav>
    </div>
    <div>
        <div class="row lista-home">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel">
                            <div class="panel-heading text-center">
                                <h1>{{tipoPomodoro.nome}}</h1>
                                <h3>{{pomodoro.nome}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row lista-btn-pomodoro">
                                    <div class="col-xs-6 col-md-4 text-center">
                                        <button class="btn btn-info" ng-click="btnPomodoro();"
                                                ng-disabled="disablePlay">
                                            POMODORO
                                        </button>
                                    </div>
                                    <div class="col-xs-6 col-md-4 text-center">
                                        <button class="btn btn-info" ng-click="pausaCurta();"
                                                ng-disabled="disablePlay">
                                            PAUSA CURTA
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-4 text-center pomodoro-xs-margim">
                                        <button class="btn btn-info" ng-click="pausaLonga();"
                                                ng-disabled="disablePlay">
                                            PAUSA LONGA
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-4 text-center">
                                        <button class="btn btn-lg btn-primary" ng-click="play();"
                                        ng-disabled="disablePlay">
                                            <i class="glyphicon glyphicon-play"></i>
                                            &nbsp;COMEÇAR
                                        </button>
                                    </div>
                                    <div class="col-xs-6 col-md-4 text-center">
                                        <button class="btn btn-lg btn-danger" ng-click="stop();">
                                            <i class="glyphicon glyphicon-stop"></i>
                                            &nbsp;TERMINAR
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-4 text-center pomodoro-xs-margim">
                                        <button class="btn btn-lg btn-warning" ng-click="pause();"
                                                ng-disabled="!disablePlay">
                                            <i class="glyphicon {{glyphPausa}}"></i>
                                            &nbsp;{{btnPausa}}
                                        </button>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <h1>
                                        <timer interval="timerObj.interval" auto-start="false" countdown="timerObj.countdown"
                                               finish-callback="finished();">{{mminutes}}:{{sseconds}}
                                            <div class="progress progress-striped {{displayProgressActive}}">
                                                <div class="progress-bar" style="width: {{progressBar}}%;"></div>
                                            </div>
                                        </timer>
                                    </h1>
                                    <button class="btn btn-default" ng-disabled="disablePlay"
                                        ng-click="personalizar();">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        &nbsp;Personalizar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-group">
                            <div class="list-group-item active">Pomodoros de Encerrados de Hoje: {{pomodoros.length}}</div>
                            <div class="list-group-item" ng-repeat="pomodoro in pomodoros">
                                <div class="list-group-item-heading">
                                    {{now | date:"dd/MM" }} - {{pomodoro.termino}} - {{pomodoro.minutos}} min. {{pomodoro.segundos}} seg.
                                </div>
                                <div>
                                    <span>{{pomodoro.nome}}</span>
                                </div>
                            </div>
                            <div class="list-group-item active">Pomodoros de Ontem: {{pomodorosOntem.length}}</div>
                            <div class="list-group-item" ng-repeat="pomodoro in pomodorosOntem">
                                <div class="list-group-item-heading">
                                    {{ontemObj | date:"dd/MM" }} - {{pomodoro.termino}} - {{pomodoro.minutos}} min. {{pomodoro.segundos}} seg.
                                </div>
                                <div>
                                    <span>{{pomodoro.nome}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="criar-pomodoro.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Novo Pomodoro</h4>
        </div>
        <div class="modal-body" ng-init="initCriarPomodoro()">
            <form name="formulario" class="form-horizontal">
                <div class="form-group">
                    <label for="ctexto" class="col-lg-2 control-label">Nome</label>

                    <div class="col-lg-10">
                        <input id="ctexto" class="form-control" type="text" ng-model="novoPomodoro.nome"
                               placeholder="Nome do Pomodoro">
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarCriacao()" data-dismiss="modal">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarInicio()">
                Iniciar
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="personalizar-pomodoro.html">
        <div class="modal-header text-center">
            <h4 class="modal-title">Personalizar Pomodoros e Pausas</h4>
        </div>
        <div class="modal-body" ng-init="initConfigPomodoro()">
            <form name="formulario" class="form-horizontal">
                <div class="form-group">
                    <label for="tempo" class="col-lg-6 control-label">Minutos dos Pomodoros (1-99)</label>

                    <div class="col-lg-2">
                        <input id="tempo" class="form-control" type="number" min="1" max="99" ng-model="tempo"
                               placeholder="Total">
                    </div>
                </div>
                <div class="form-group">
                    <label for="curta" class="col-lg-6 control-label">Minutos da Pausa Curta (1-99)</label>

                    <div class="col-lg-2">
                        <input id="curta" class="form-control" type="number" min="1" max="99" ng-model="curta"
                               placeholder="Total">
                    </div>
                </div>
                <div class="form-group">
                    <label for="longa" class="col-lg-6 control-label">Minutos da Pausa Longa (1-99)</label>

                    <div class="col-lg-2">
                        <input id="longa" class="form-control" type="number" min="1" max="99" ng-model="longa"
                               placeholder="Total">
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cancelarCriacao()" data-dismiss="modal">
                Cancelar
            </button>
            <button type="button" class="btn btn-success" ng-click="confirmarConfig()" ng-disabled="salvando">
                Salvar
            </button>
        </div>
    </script>
</div>